<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Acronyms.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2D920D441EA86FE100FB1B57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D920D5D1EA86FE300FB1B57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D920D681EA86FE300FB1B57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
